.aboutContainer{
  margin: 60px 0 0;
  width: 95%;
  h1,h2{
    border-bottom: solid 1px #ccc;
    font-size: 3rem;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0 0 10px;
    text-transform: uppercase;
  }
  h2{
    font-size: 2.4rem;
    margin: 40px 0 20px;
    text-transform: capitalize;
  }
  p{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0 0 1em;
  }
  ul{
    padding: 0 0 0 20px;
    li{
      list-style: disc;
    }
  }
  ol{
    padding: 0 0 0 20px;
    li{
      list-style: decimal;
    }
  }
  li{
    color: $clink-color;
    font-size: 1.4rem;
  }
  a{
    color: $clink-color;
    font-weight: 400;
    transition: color 0.4s ease;
    &:active,
    &:link,
    &:visited{
      color: $clink-color;
    }
    &:hover{
      color: #00698A;
    }
  }
  .small{
    font-size: 0.75em;
    font-weight: 300;
  }
}