.pagination{
  align-self: flex-end;
  display: block;
  margin: 50px 0 0;
  width: 100%;
  &__body{
    align-items: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    width: 95%;
  }
  &__cur,
  &__max{
    color: #ccc;
    font-size: 2rem;
    line-height: 1;
  }
  &__list{
    a{
      display: block;
    }
  }
}

.prev,
.next{
  background: #eee;
  border-radius: 100%;
  display: block;
  height: 45px;
  position: relative;
  transition: opacity 0.5s ease;
  width: 45px;
  &:hover{
    opacity: 0.7;
  }
  &:after{
    color: #aaa;
    display: block;
    font-size: 3rem;
    font-family: FontAwesome;
    left: 50%;
    line-height: 1;
    position: absolute;
    top: 50%;
  }
}

.prev{
  margin: 0 10px 0 0;
  &:after{
    content:"\f104";
    margin: -16px 0 0 -7px;
  }
}

.next{
  margin: 0 0 0 10px;
  &:after{
    content:"\f105";
    margin: -16px 0 0 -4px;
  }
}

.nolink{
  background: #f8f8f8;
  &:hover{
    opacity: 1;
  }
  &:after{
    color: #ddd;
  }
}