.widget{
  h3{
    color: $font-color;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.widget_categories{
  margin: 40px 0 0;
}

.cat-item{
  border-bottom: solid 1px #999;
  margin: 22px 0 0;
  a{
    align-items: center;
    color: $font-color;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    letter-spacing: 0.02em;
    line-height: 1;
    overflow: hidden;
    padding: 0 0 20px;
    text-transform: uppercase;
    width: 100%;
  }
}

.count{
  background: #f1f1f1;
  border-radius: 100%;
  color: #3c3c3c;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 28px 0 0;
  padding: 5px 10px;
}

.widget_custom_html{
  margin:40px 0 0;
}

.side-about{
  margin: 20px 0 0;
  width: 100%;
  p{
    color: $font-color;
    font-size:1.4rem;
    font-weight: 300;
    line-height: 1.3;
    overflow: hidden;
  }
  img{
    float: right;
    margin: 0 0 0 0.75em;
    max-width: 135px;
    width: 37.5%;
  }
  a{
    color: $clink-color;
    font-weight: 400;
    transition: color 0.4s ease;
    &:active,
    &:link,
    &:visited{
      color: $clink-color;
    }
    &:hover{
      color: #00698A;
    }
  }
}

.widget_archive{
  margin: 40px 0 0;
  ul{
    margin: 20px 0 0;
  }
  li{
    margin: 0 0 10px;
    vertical-align: middle;
    &:before{
      background: #777;
      content:"";
      display: inline-block;
      height: 1px;
      margin: 0 10px 0 0;
      width: 5px;
    }
  }
  a,
  span{
    color: $font-color;
    font-size: 1.4rem;
    vertical-align: middle;
    &:active,
    &:link,
    &:visited{
      color: $font-color;
    }
  }
}

.language{
  margin: 0;
  &__body{
    align-items: center;
    display: flex;
    margin: 20px 0 0;
  }
  &__list{
    font-size: 1.4rem;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    a,span{
      border-radius: 4px;
      display: inline-block;
      line-height: 1;
      padding: 7px 0;
      text-align: center;
      width: 100px;
    }
  }
  .enable{
    border: solid 1px #3c3c3c;
    color: #3c3c3c;
    transition: all 0.4s ease;
    &:hover{
      border: solid 1px $clink-color;
      color: $clink-color;
    }
  }
  .disabled{
    background: #3c3c3c;
    color: #fff;
  }
}

.widget_recent_entries{
  margin: 40px 0 0;
}

.recentPost{
  margin: 20px 0 0;
  &__list{
    border-bottom: solid 1px #ccc;
    margin: 0 0 20px;
    padding: 0 0 10px;
    &:before{
      content: none;
    }
  }
  &__link{
    color: $font-color;
    display: flex;
    font-weight: 300;
    transition: color 0.4s ease;
    width: 100%;
    &:active,
    &:link,
    &:visited{
      color: $font-color;
    }
    &:hover{
      color: $clink-color;
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15px;
    width: 100%;
  }
  &__thumbnail{
    margin: 0;
    max-width: 60px;
    width: 33.33333333333%;
    img{
      border-radius: 100%;
      height: auto;
      width: 100%;
    }
  }
  &__title{
    font-size: 1.6rem;
    line-height: 1.2;
  }
  &__date{
    color: #777;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: right;
    width: 100%;
  }
}

.privacy{
  margin: 20px 0 0;
  &__link{
    color: $font-color;
    font-size: 1.4rem;
    transition: color 0.4s ease;
    &:active,
    &:link,
    &:visited{
      color: $font-color;
    }
    &:hover{
      color: $clink-color;
    }
  }
}